<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlHead"
      th:with="jsFiles=${jsFiles} ?: ${ {} }, cssFiles=${cssFiles} ?: ${ {} }">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{i18n.appName}">G4t4</title>
    <link rel="shortcut icon" type="image/png"
          th:href="@{/res/favicon.png}" href="../../static/res/favicon.png"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/res/css/w3.css}" href="../../static/res/css/w3.css"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{'/res/css/themes/' + ${#themes.code('theme_css')}}"
          href="../../static/res/css/themes/w3-theme-pink.css"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/res/css/material/material-icons.css}"
          href="../../static/res/css/material/material-icons.css"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/res/css/common.css}" href="../../static/res/css/common.css"/>
    <link th:each="cssFile: ${cssFiles}" rel="stylesheet" type="text/css"
          th:href="@{/res/css} + '/' +  ${cssFile}" href="../../static/res/css/cssFile.css"/>
    <script type="text/javascript" th:src="@{/webjars/angularjs/angular.js}"
            src="angular.js"></script>
    <script type="text/javascript" th:inline="javascript">
        var context = /*[[@{/}]]*/ "/11/";
        var url_res = context + "res/";
        var config = /*[[${@gataJsConfiguration}]]*/ null;

    </script>
    <script type="text/javascript" th:src="@{/res/js/common.js}"
            src="../../static/res/js/common.js"></script>
    <script type="text/javascript" th:src="@{/res/js/whenScrolledBottom.js}"
            src="../../../static/res/js/whenScrolledBottom.js"></script>
    <script type="text/javascript" th:src="@{/res/js/fw.js}"
            src="../../static/res/js/fw.js"></script>
    <script type="text/javascript" th:src="@{/res/js/ajaxError.js}"
            src="../../static/res/js/ajaxError.js"></script>
    <script th:each="jsFile: ${jsFiles}" type="text/javascript"
            th:src="@{/res/js} + '/' + ${jsFile}" src="../../static/res/js/jsFile.js"></script>
</head>
<body>
<p>Prototype content</p>
</body>
</html>