<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
<div class="w3-container">
    <span th:fragment="navLinks"
          th:with="notesTabSelected=${notesTabSelected} ?: false, usersTabSelected=${usersTabSelected} ?: false, hideSmall=${hideSmall} ?: false">
        <a th:href="@{/notesTab}"
           href="../notesTab.html"
           th:text="#{i18n.header.tab.notes}"
           class="w3-bar-item w3-button w3-mobile"
           th:classappend="${ (notesTabSelected ? 'w3-theme-l4' : ' w3-theme') + (hideSmall ? ' w3-hide-small' : '') }"
        >N0t35</a>
        <a th:href="@{/usersTab}"
           href="../usersTab.html"
           th:text="#{i18n.header.tab.users}"
           class="w3-bar-item w3-button w3-mobile"
           th:classappend="${ (usersTabSelected ? 'w3-theme-l4' : ' w3-theme') + (hideSmall ? ' w3-hide-small' : '') }"
           sec:authorize="hasRole('ROLE_ADMIN')"
        >U53r5</a>
        <a href="#logout"
           class="w3-bar-item w3-button w3-theme w3-mobile"
           th:classappend="${ (hideSmall ? ' w3-hide-small' : '') }"
           onclick="logoutFormSubmit()"
           th:text="#{i18n.header.logout(${#authentication.getPrincipal().getUsername()})}"
        >L0g0ut U53R
        </a>
    </span>
</div>
</body>
</html>