<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/htmlHead :: htmlHead">
</head>
<body>
<h1 th:text="#{i18n.error.notice}">Up5!</h1>
<table>
  <tr>
    <td th:text="#{i18n.error.date}">D4t3</td>
    <td th:text="${timestamp}"/>
  </tr>
  <tr>
    <td th:text="#{i18n.error.path}">P4th</td>
    <td th:text="${path}"/>
  </tr>
  <tr>
    <td th:text="#{i18n.error.error}">3rr0r</td>
    <td th:text="${error}"/>
  </tr>
  <tr>
    <td th:text="#{i18n.error.status}">5t4tu5</td>
    <td th:text="${status}"/>
  </tr>
  <tr>
    <td th:text="#{i18n.error.message}">M355g3</td>
    <td th:text="${message}"/>
  </tr>
  <tr>
    <td th:text="#{i18n.error.exception}">3xc3pt10n</td>
    <td th:text="${exception}"/>
  </tr>
  <tr>
    <td th:text="#{i18n.error.trace}">Tr4c3</td>
    <td>
      <pre th:text="${trace}"/>
    </td>
  </tr>
</table>
</body>
</html>